<!-- Jquery templates for the Text Area field type -->

<script type="text/x-jquery-tmpl" id="TextAreaPreview">
  <div class="TextAreaWrapper" style="width: ${width}px; height: ${height}px;">
    <textarea readonly id='${id}'>${defaul}</textarea>
  </div>
  <div class="TextAreaDimensions" id="${id}_size">SIZE</div>
</script>

<script type="text/x-jquery-tmpl" id="TextAreaBottomBasicOptions">
  <li>
    <label for='EditDefault'>${tr("Default value")}</label>
    <textarea id='EditDefault'>${defaul}</textarea>
    <p id='ErrorDefault' class='error'></p>
  </li>
</script>

<script type="text/x-jquery-tmpl" id="TextAreaAdvancedOptions">
  <div class='OptionBox'>
    <h2>${tr("Display options")}</h2>
    <ul><li>
        <table class="TdTop" style="width:99%;">
          <tr>
            <td style='width: 44%;'>${tr("Physical size")}:</td>
            <td><td>&nbsp;</td><td>
              <label for="EditWidth">${tr("width")}</label>
              <input type="text" id="EditWidth" size="4" value="${width}"
                     title='${tr("in pixels")}' />
              <p id="ErrorEditWidth" class='error'></p>
            </td><td>&nbsp;</td><td>
              <label for="EditWidth">${tr("height")}</label>
              <input type="text" id="EditHeight" size="4" value="${height}"
                     title='${tr("in pixels")}' />
              <p id="ErrorEditHeight" class='error'></p>
            </td>
          </tr>
        </table>
      </li>
    </ul>
  </div>

  <div class='OptionBox'>
    <h2>${tr("Define user input")}</h2>
    <h3 id="LengthPropsHandle">${tr("Specify content length")}</h3>
    <ul id="LengthProps">
      <li>
        <table id='EditChars' class="TdTop" style='width:99%;'><tr>
            <td style='width: 44%;'>
              <input type='checkbox' id='EnableLength'
                {{if enableLength }} checked='checked' {{/if}} />&nbsp;<label
                for='EnableLength'>${tr("Characters")}</label>
            </td><td>&nbsp;</td>
            <td><label for='EditMinLength'>${tr("min")}</label>
              <input type='text' id='EditMinLength' class="LengthEdit"
                     value='${minLength}' size='5'
                     title='${tr("Minimum length, in characters")}' />
              <p id='ErrorMinLength' class='error'></p></td>
            <td>&nbsp;</td>
            <td><label for='EditMaxLength'>${tr("max")}</label>
              <input type='text' id='EditMaxLength' class="LengthEdit"
                     value='${maxLength}' size='5'
                     title='${tr("Maximum length, in characters")}' />
              <p id='ErrorMaxLength' class='error'></p>
            </td>
          </tr></table>
      </li><li>
        <table id='EditWords' class="TdTop" style='width:99%;'><tr>
            <td style='width: 44%;'>
              <input type='checkbox' id='EnableWords'
                {{if enableWords }} checked='checked' {{/if}} />&nbsp;<label
                for='EnableWords'>${tr("Words")}</label>
            </td><td>&nbsp;</td>
            <td><label for='EditMinWords'>${tr("min")}</label>
              <input type='text' id='EditMinWords' class="LengthEdit"
                     value='${minWords}' size='5'
                     title='${tr("Minimum length, in words")}' />
              <p id='ErrorMinWords' class='error'></p>
            </td><td>&nbsp;</td>
            <td><label for='EditMaxWords'>${tr("max")}</label>
              <input type='text' id='EditMaxWords' class="LengthEdit"
                     value='${maxWords}' size='5'
                     title='${tr("Maximum length, in words")}' />
              <p id='ErrorMaxWords' class='error'></p>
            </td>
          </tr></table>
      </li>
    </ul>

</script>
