<!-- Jquery templates for the Text field type -->

<script type="text/x-jquery-tmpl" id="TextFieldPreview">
  <input readonly type='text' id='${id}' value='${defaul}' />
</script>

<script type="text/x-jquery-tmpl" id="TextFieldBottomBasicOptions">
    <li>
      <label for='EditDefault'>Default value</label>
      <input type='text' value='${defaul}' id='EditDefault' />
      <p id='ErrorDefault' class='error'></p>
    </li>
</script>

<script type="text/x-jquery-tmpl" id="TextFieldAdvancedOptions">
  <div class="OptionBox">
    <h2>Display options</h2>
    <h3 id="LengthPropsHandle">Specify content length</h3>
    <ul id="LengthProps">
      <li>
        <table id='EditChars' class="TdTop" style='width:99%;'><tr>
            <td style='width: 44%;'>
              <input type='checkbox' id='EnableLength'
                {{if enableLength }} checked='checked' {{/if}} />&nbsp;<label
                for='EnableLength'>Characters</label>
            </td><td>&nbsp;</td>
            <td><label for='EditMinLength'>min</label>
              <input type='text' id='EditMinLength' class="LengthEdit"
                     value='${minLength}' size='5'
                     title='Minimum length, in characters' />
              <p id='ErrorMinLength' class='error'></p></td>
            <td>&nbsp;</td>
            <td><label for='EditMaxLength'>max</label>
              <input type='text' id='EditMaxLength' class="LengthEdit"
                     value='${maxLength}' size='5'
                     title='Maximum length, in characters' />
              <p id='ErrorMaxLength' class='error'></p>
            </td>
          </tr></table>
      </li><li>
        <table id='EditWords' class="TdTop" style='width:99%;'><tr>
            <td style='width: 44%;'>
              <input type='checkbox' id='EnableWords'
                {{if enableWords }} checked='checked' {{/if}} />&nbsp;<label
                for='EnableWords'>Words</label>
            </td><td>&nbsp;</td>
            <td><label for='EditMinWords'>min</label>
              <input type='text' id='EditMinWords' class="LengthEdit"
                     value='${minWords}' size='5'
                     title='Minimum length, in words' />
              <p id='ErrorMinWords' class='error'></p>
            </td><td>&nbsp;</td>
            <td><label for='EditMaxWords'>max</label>
              <input type='text' id='EditMaxWords' class="LengthEdit"
                     value='${maxWords}' size='5'
                     title='Maximum length, in words' />
              <p id='ErrorMaxWords' class='error'></p>
            </td>
          </tr></table>
      </li>
    </ul>
  </div>
</script>
