#base {
  padding-bottom: 5px;
}

ul#collectorsMenu li {
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

/* Specific adjustments of .ListTable from list.css */
.ListTable thead th {
  padding-top: 3px;
  padding-bottom: 3px;
}
.ListTable .CollectorName {
  width: 300px;
  text-align: left;
}

/* Float windows and their respective tabs */
.ui-dialog {
  width: 700px !important;
}
