#base {
  padding-bottom: 5px;
}

ul#collectorsMenu li {
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

/* Specific adjustments of .ListTable from list.css */
.ListTable thead th {
  padding-top: 3px;
  padding-bottom: 3px;
}
.ListTable .CollectorName {
  width: 300px;
  text-align: left;
}

/* Dialog window and its tabs */
#CollectorsEditionDialog .ui-dialog {width: 600px !important}
#CollectorsEditionDialog ul.menu li {
  width: 180px;
  margin: 10px 0;
}
/* Dialog menu */
.Dialog ul.menu {
  margin: 0;
  padding: 0;
}
.Dialog ul.menu li {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  background: url('../img/icons-root/buttonBackground.png') repeat-x bottom;
  padding: 3px 10px 5px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: none;
}
.Dialog ul.menu li:hover {
/* TODO: change this behaviour on all buttons over the site, not only on
   collectors float window tabs
*/
  background-image: url('../img/icons-root/buttonBackgroundHoverCOLLECTORTAB.png');
}
.Dialog ul.menu li a {color: #fff}
.Dialog ul.menu li.selected {
  background-image: url('../img/icons-root/buttonBackgroundHover.png');
}
/* Dialog tab contents */
.Dialog .panel ul li {
  margin: 10x 0;
}
.Dialog p.error {
  margin: 0;
  color: #f33;
}
.Dialog p.dateTextBreak {
  width: 240px;
}

/* Public Link Collector */
#pl_url {width: 320px}
#pl_link {width: 560px}

/* Website Code Collector */
#WebsiteCodeItem div {
  display: inline-block;
  vertical-align: top;
}
#WebsiteCodeTypes div h4 {margin: 15px 0 5px}
#WebsiteCodeLeft {width: 22%}
#WebsiteCodeRight {width: 75%}
#WebsiteCodeRight textarea {width: 100%}
#WebsiteCodeRight p {
  width: 480px; /* TODO: this should be percentage relative */
  display: block;
}

/* Shared tabs among collectors */
#name {width: 70%}
/* Settings */
#shared_panel-Settings div.offset {margin-left: 26px}
#shared_panel-Settings input[type='radio'] {vertical-align: bottom}
#thanks_message {width: 95%}
#thanks_url {width: 50%}
/* Restrictions */
#shared_panel-Restrictions table {width: 100%}
#shared_panel-Restrictions table td {vertical-align: top}
#shared_panel-Restrictions table textarea {width: 90%}
.ToTheRight {
  margin-left: 125px;
  margin-top: -23px;
}

