html, body {
  background-color: #c6c6c6;
}
body {
  text-align: center;
}

div#Content {
  display: inline-block;
  text-align: left;
  width: 700px;
  height: 100%;
  background: #fff;
}
div#Content h1 {margin: 0}
div#Content form fieldset {border: none;}
.desc, .Description {
  white-space: pre-wrap;
}
div#Header {
  padding: 40px 20px 20px;
  color: #ffffff;
}
div#Footer {
  text-align: center;
  margin: 20px 0;
}
div#Footer hr {
  width: 96%;
  height: 1px;
  border: none;
  background-color: #c6c6c6;
}
.list_tmp_other {
    background-color: gray;
}
