.form_name input {border: 1px dashed black;}
#formsListPage {background-color: #ebf6f6;}
#actionButtons {padding: 10px;}
.create_button {
  color: white;
  background: url('../img/icons-root/buttonBackground.png') repeat-x bottom;
  padding: 3px 10px 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-right: 1em;
}
.create_button a:active {background: transparent;}
.create_button img {
  vertical-align: middle;
  margin: 0 5px;
}
.newButtonHover {
  background: url('../img/icons-root/buttonBackgroundHover.png') repeat-x bottom !important;
}
.create_button a {color: white;}
#no-form-message {
    margin: 10px 180px;
    padding: 20px;
    text-align: center;
    background-color: #009a93;
    color: white;
    font-size: 150%;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}
#no-form-message a {
    color: white;
}
#formsListTable {
  width: 100%;
  border: 1px solid #e7e7e7;
}
#formsListTable thead {
  background-color: #dadada;
  color: #3c3c3b;
  font-weight: normal;
  font-size: 80%;
}
#formsListTable thead th {padding: 0 5px;}
#formsListTable td {
  margin: auto;
  text-align: center;
  padding: 0 5px;
}
#formsListTable th.selectAll {text-align: left;}
#formsListTable th.selectAll input {vertical-align: middle;}
#formsListTable td.formName {
  width: 300px;
  text-align: left;
  padding-left: 5px;
}
#formsListTable td.formName p {
  font-size: 85%;
  margin: 5px 0;
}
#formsListTable td.dateField {min-width: 74px;}
.FormCategory {
  background-color: #f15a24;
  padding: 10px 15px 10px 20px;
  font-weight: bold;
}
#form-name {
    font-weight: bold;
}
p.error {
  margin: 5px;
  padding: 5px;
  font-size: 12px;
  text-indent: 15px;
  background: url('../img/icons-form/error.png') no-repeat;
  line-height: 100%;
  color: red;
}
.formName input[type='text'] {
    width: 190px;
}
