#formAnswers {
    background-color: #ebf6f6;
}
#answersTitle {
    float: left;
    font-weight: bold;
    font-size: 170%;
}
#answersTop {
    padding: 10px;
}
#backButton {
    float: right;
    color: white;
    background: url('../img/icons-root/buttonBackground.png') repeat-x bottom;
    padding: 3px 10px 5px 10px;
    margin: auto;
    border-radius: 5px;
}
#backButton a {
    color: white;
}
#backButton a:active {
    color: white;
    background-color: transparent;
}
#exportButton {
    float: left;
    color: white;
    background: url('../img/icons-root/buttonBackground.png') repeat-x bottom;
    padding: 3px 10px 5px 10px;
    margin: 0px 0px 0px 10px;
}
#exportButton a {
    color: white;
}
.ButtonHover {
    background: url('../img/icons-root/buttonBackgroundHover.png') repeat-x bottom !important;
}
#exportSymbol {
    vertical-align: middle;
    float: right;
    padding: 0px 0px 0px 4px
}
#formEntriesTable {
    width: 100%;
    border: 1px solid #e7e7e7;
}
#formEntriesTable thead {
    background-color: #dadada;
    color: #3c3c3b;
    font-weight: normal;
    font-size: 80%;
}
#formEntriesTable td {
    margin: auto;
    text-align: center;
}
.ui-dialog-titlebar {
    background: white;
    border: 0;  
}
.dialog {
    margin: 5px;
    border: 10px solid #6e6e6e;
}
.fieldLabel {
    font-weight: bold;
}
.fieldLine {
    padding: 0 15px;
}
.fieldLineOdd {
    background: #f6f6f6;
}
.fieldLabel {
    padding-bottom: 3px;
}
h4 {
    margin: 10px 0;
}
#entryBox {
    padding: 0;
    margin: 0;
}
#backArrow {
    vertical-align: middle;
}
#ui-dialog-title-entryBox {
    font-size: 16px;
}
/*.ui-widget-header {
      background: #ededed;
  
}
.ui-corner-all {
       background: #ededed;
 
}
.ui-helper-clearfix {
    background: #ededed;

}*/
