body {
    /*background: url(../imagens/bgPattern.png);*/
}

#containerForm {
    background-color: white;
    width: 500px;
    margin: auto;
    margin-top: 100px;
}

#formTitle {
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: 20px;
}

#formDescription {
    margin-left: 250px;
    float: right;
    color: #808080;
    margin-bottom: 20px;
}

#containerForm label {
    width: 230px;
    float: left;
    text-align: right;
}

#containerForm input {
    width: 250px;
    float: right;
    text-align: left;
    background-color: #f2f2f2;
}

#containerForm textarea {
    width: 250px;
    height: 70px;
    float: right;
    text-align: left;
    background-color: #f2f2f2;
}

#containerForm input[type=submit] {
    width: 50px;
    float: right;
    text-align: center;
    background-color: #808080;
    color: white;
}

#containerForm label {
    width: 200px;
    float: left;
}

#submitButton {
    width: 500px;
    clear: both;
}