.form_name input {border: 1px dashed black;}
#formsListPage {
  background-color: #ebf6f6;
  padding-bottom: 10px;
}
#actionButtons {padding: 10px;}
.create_button {
  color: white;
  background: url('../img/icons-root/buttonBackground.png') repeat-x bottom;
  padding: 3px 10px 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-right: 1em;
}
.create_button a:active {background: transparent;}
.create_button img {
  vertical-align: middle;
  margin: 0 5px;
}
.newButtonHover {
  background: url('../img/icons-root/buttonBackgroundHover.png') repeat-x bottom !important;
}
.create_button a {color: white;}
#NoFormMessage {
  margin: 10px 180px;
  padding: 20px;
  text-align: center;
  background-color: #009a93;
  color: white;
  font-size: 150%;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}
#NoFormMessage a {color: white;}
.ListTable th.selectAll {text-align: left;}
.ListTable thead th.selectAll, .ListTable td.formSelect {padding-left: 3px}
.ListTable th.selectAll input {vertical-align: middle;}
.ListTable td.formSelect {vertical-align: top;}
.ListTable td.formName {
  width: 300px;
  text-align: left;
  vertical-align: top;
}
.ListTable td.formName p {
  font-size: 85%;
  margin: 5px 0;
}
.ListTable td.dateField {
  min-width: 74px;
  font-size: 85%;
}
.FormCategory {
  background-color: #f15a24;
  padding: 10px 15px 10px 20px;
  font-weight: bold;
}
#form-name {
    font-weight: bold;
}
p.error {
  margin: 5px;
  padding: 5px;
  font-size: 12px;
  text-indent: 15px;
  background: url('../img/icons-form/error.png') no-repeat;
  line-height: 100%;
  color: red;
}
.formName input[type='text'] {
    width: 190px;
}

#formsListTable thead th {background-color: #dadada}
#formsListTable thead th.darker {background-color: #d0d0d0}
#formsListTable tr td {background-color: #f6f6f6}
#formsListTable tr td.darker {background-color: #ededed}
