#YourLogo {
  background-color: #ddd;
  line-height: 20px;
  vertical-align: middle;
  padding: 10px;
}
h1, h2, h3, h4, h5, h6 { /* override deform */
    background-color: transparent;
}
/* We use jquery.ui style names, though not using jquery.ui for tabs */
.ui-tabs {
    background-color: #89ccca !important;
    border: 0px;
}
.ui-widget-content {
    background: none;
}
.ui-tabs-nav {
  padding: .1em;
  font-size: 95%;
  background-color: #cae6e4;
  margin: auto;
  text-align: center;
}
.ui-tabs-nav li {
  display: inline;
  padding: 0 .2em;
}
.ui-tabs-nav li.selected {
    background-color: white;
}
.ui-tabs-panel {
    padding: 6px !important;
    font-size: 13px;
}
.ui-tabs-panel fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}
.ui-tabs-panel input {
    width: 99%;
}
.ShortHelp {
  font-style: italic;
  border: 2px solid #cc9756;
  padding: 6px;
  font-size: 88%;
  border-radius        : 6px;
  -moz-border-radius   : 6px;
  -webkit-border-radius: 6px;
}
#LeftCol {
  width: 250px;
  float: left;
  background-color: #89ccca;
  padding-bottom: 16px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
#LeftCol hr {
  background-color: #009a93;
  color: #009a93;
  height: 2px;
  border: none;
}
#LeftCol h3 {
  font-size: 90%;
  padding: 0 10px;
}
#btnSend {
    text-align: center;
}
#btnSend input {
    font-size: 140%;
}
#RightCol {
  float: right;
  padding-left: 20px;
  width: 550px;
  left: 270px;
  min-height: 300px;
  background-color: white;
}
