#YourLogo {
  background-color: #ddd;
  line-height: 20px;
  vertical-align: middle;
  padding: 10px;
}


/* override deform
   =============== */
h1, h2, h3, h4, h5, h6 {
    background-color: transparent;
}
form li {
    padding: 0;
    margin: 6px 0;
}

label.desc {
    display: block;
}
label.desc, form span.req {
    font-weight: normal;
}


/* We use jquery.ui style names, though not using jquery.ui for tabs */
.ui-tabs {
    background-color: #89ccca;
}
.ui-widget-content {
    background: none;
}
.ui-tabs-nav {
  font-size: 95%;
  /* background-color: #cae6e4; */
  margin: auto;
  text-align: center;
  border-bottom: 2px solid #fd7000;
}
.ui-tabs-nav li {
  display: inline-block;
  text-align: center;
  min-width: 36px;
  padding: 4px;
  line-height: 18px;
  background-color: #c97;
  border: 1px solid #fd7000;
  border-top-left-radius         : 8px;
  border-top-right-radius        : 8px;
  -moz-border-radius-topleft     : 8px;
  -moz-border-radius-topright    : 8px;
  -webkit-border-top-left-radius : 8px;
  -webkit-border-top-right-radius: 8px;
}
.ui-tabs-nav li:hover, .ui-tabs-nav li:active a {
  background-color: #ea6;
}
.ui-tabs-nav li.selected {
  background-color: #fd7000;
  border-top-left-radius         : 8px;
  border-top-right-radius        : 8px;
  -moz-border-radius-topleft     : 8px;
  -moz-border-radius-topright    : 8px;
  -webkit-border-top-left-radius : 8px;
  -webkit-border-top-right-radius: 8px;
}
.ui-tabs-panel {
    padding: 6px !important;
    font-size: 13px;
}
.ui-tabs-panel fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}
.ui-tabs-panel input, .ui-tabs-panel textarea {
    width: 98%;
}
.ShortHelp {
  font-style: italic;
  border: 2px solid #cc9756;
  padding: 6px;
  font-size: 88%;
  border-radius        : 6px;
  -moz-border-radius   : 6px;
  -webkit-border-radius: 6px;
}
#LeftCol {
  width: 250px;
  float: left;
  background-color: #89ccca;
  padding-bottom: 16px;
  border-bottom-left-radius         : 10px;
  border-bottom-right-radius        : 10px;
  -moz-border-radius-bottomleft     : 10px;
  -moz-border-radius-bottomright    : 10px;
  -webkit-border-bottom-left-radius : 10px;
  -webkit-border-bottom-right-radius: 10px;
}
#LeftCol hr {
  background-color: #009a93;
  color: #009a93;
  height: 2px;
  border: none;
}
#LeftCol h3 {
  font-size: 90%;
  padding: 0 10px;
}
#FieldIcons li {
  display: inline-block;
  margin: 0 6px;
}
#btnSend {
    text-align: center;
}
#btnSend input {
    font-size: 140%;
}
#RightCol {
  float: right;
  padding-left: 20px;
  width: 550px;
  left: 270px;
  min-height: 200px;
}
.fieldSpace {
    background-color: #ededed;
    border: 1px dashed;
}
#FormFields li {
    padding: 10px;
    position: relative;
}
.fieldEditActive {
    border: 2px solid #fd7000;
}
.fieldEditActive img {
}
