.form_name input {
    border: 1px dashed black;
}
#formsListPage {
    background-color: #ebf6f6;
}
#actionButtons {
    padding: 10px;
}
#create_form {
    float: left;
    color: white;
    background: url('../img/icons-root/buttonBackground.png') repeat-x bottom;
    padding: 3px 10px 5px 10px;
    border-radius: 5px;
    margin: auto;
}
#create_form a:active {
    background: transparent;
}
#create_form img {
    vertical-align: middle;
}
.newFormHover {
    background: url('../img/icons-root/buttonBackgroundHover.png') repeat-x bottom !important;
}
#create_form a {
    color: white;
}
#formsListTable {
    width: 100%;
    border: 1px solid #e7e7e7;
}
#formsListTable thead {
    background-color: #dadada;
    color: #3c3c3b;
    font-weight: normal;
    font-size: 80%;
}
#formsListTable td {
    margin: auto;
    text-align: center;
}
.td_even {
    background: #ededed;
}
#formsListTable th.selectAll {
    text-align: left;
    font-size: 130%;
}
#formsListTable td.formName {
    text-align: left;
    padding-left: 5px;
}
#formsListTable td.formName p {
    font-size: 85%;
    color: grey;
}
.FormCategory {
    background-color: #f15a24;
    padding: 10px 15px 10px 20px;
    font-weight: bold;
}
#form-name {
    font-weight: bold;
}
