#formAnswers {
    background-color: #ebf6f6;
}
#answersTitle {
    float: left;
    font-weight: bold;
    font-size: 170%;
}
#answersTop {
    padding: 10px 5px 35px;
}
#backButton {
    float: right;
    margin: auto;
}
.disabledButton {
    opacity: 0.5;
}
#exportButton {
    float: right;
    margin: 0px 0px 0px 10px;
}
#exportSymbol {
    float: right;
    padding: 0px 0px 0px 4px
}
.Select {
    padding: 1px 7px 3px 7px;
}
.ListTable thead th {padding: 1px;}
.ListTable td {
    padding: 1px;
}
.fieldLabel {
    font-weight: bold;
}
.fieldLine {
    padding: 5px 15px;
    background: 
}
.fieldLineOdd {
    background: #f6f6f6;
}
.fieldLabel {
    padding-bottom: 3px;
}
h4 {
    margin: 10px 0;
}

