div.Horizontal2 div {
	width: 280px;
    float: left;
    text-align: left;
}

#formCreateLinks {
    position: relative;  
}

#newFormButtom {
    float: left;
    width: 280px;
    text-align: left;
}

#newFormCategoryButtom {
    float: right;
    width: 280px;
    text-align: left;
}

#formCreateLinks a {
	display: block;
	background-color: white;
	color: #808080;
	border-top: 2px solid black;    
}

#formCreateLinks a:active {
	background-color: white;
	color: #00A75D;
	border-top: 1px solid #00A75D;
}

#formCreateLinks a:hover {
	background-color: white;
	color: #00A75D;
	border-top: 2px solid #00A75D;
}

#actionWindow {
    display: block;
    color: black;
    text-align: center;
    padding-top: 15px;
    clear: both;
}

#actionWindow input {
    width: 215px;
}

#actionWindow a {
    color: #00A75D;
    text-align: center;
    font-weight: bold;
    padding: 5px 0 5px 0;
    border: 0px;
}

#actionWindow a:hover {
    color: black;
    border: 0px;
}

#actionWindow a:active {
    color: black;
    border: 0px;
}

.category {
    background: url(../imagens/menuCategory_default.png) top left no-repeat;
    padding: 5px 3px 3px 0;
}

.withoutCategory {
    background: url(../imagens/menuCategory_default.png) top left no-repeat;
    padding: 5px 3px 3px 0;
}

.category img {
    float: right;
    margin: 0 3px;
}

.category:active {
    background: url(../imagens/menuCategory_active2.png) top left no-repeat;
}

.category:active h3{
    color: black;
}

.category h3 {
    /*display: block;
    background-color: #808080;
    border-top: 2px solid white;*/
    color: white;
    font-size: 10pt;
    text-align: left;
    float: left;
    margin: 0;
}

#categoriesList li {
    background-color: #fff;
}

.withoutCategory h3 {
    /*display: block;
    background-color: #808080;
    border-top: 2px solid white;*/
    color: white;
    font-size: 10pt;
    text-align: left;
    margin: 0;
}


.formDocs {
    font-size: 10pt;
    text-align: left;
}

