html, body {
  height: 100%;
  background-color: white;
}

.ClearBoth {
  clear: both;
}
.Pad {
  padding-left: 10px;
  padding-right: 10px;
}
#Centralizer {
  width: 820px;
  margin: 10px auto 0;
  position: relative;
}

/* Unlogged Top Menu, in which "Login" is not  */
#Top {
  width: 100%;
}
#Top a {
  color: #009a93;
  display: block;
}
#Top a:hover, #Top #Menu td.selected a {color: #000;}

#Top #Menu {
  width: 75%;
  float: left;
}
#Top #Menu table {width: 100%;}
#Top #Menu td {
  text-align: left;
  padding: 0;
  border-top: 2px solid #009a93;
}
#Top #Menu td:hover, #Top #Menu td.selected {border-top-color: #000;}
#Top img#Logo {margin-top: 15px;}

/* Right-top login box */
#LoginBox {
  position: relative;
  float: right;
  width: 23.5%;
}
#LoginBox div.title {
  width: 100%;
  margin-bottom: 10px;
  border-top: 2px solid #009a93;
  color: #009a93;
}
#LoginBox a {
    font-style: italic;
}
#LoginBox label {
    position: absolute;
    margin: 2px 0 0 4px;
    color: #808080;
}
#LoginBox input[type=text], #LoginBox input[type=password] {
    width: 100%;
    margin-bottom: 2px;
}
#LoginBox input[type=submit] {
  margin: 3px 0 10px 0;
}

#Content {
  clear: both;
  padding-top: 15px;
}


.Cols2 {
  background-color: #89ccca;
}

/*
#TopMenu td.Logout {
  text-align: right;
  width: 5em;
  vertical-align: top;
}
#TopMenu input[type='submit'] {
  background-color: #009a93;
  color: white;
  border: 0px;
  width: 5em;
}
#TopMenu input[type='submit']:hover {
    background-color: black;
}
*/

#Footer {
  padding-top: 8px;
  border-top:  1px solid #ddd;
  text-align: center;
  clear: both;
}
