html, body {
  height: 100%;
  background-color: white;
}
form#login label {
    text-align: right;
    float: left;
    margin-left: 4px;
    position: absolute;
    top: 0;
    color: #808080;
}
form#login input[type=text], form#login input[type=password] {
    width: 155px;
    height: 16px;
    margin-bottom: 7px;
    /*border: 1px solid white;
    background-color: #F2F2F2;*/
}
form#login #submit {
  margin: 4px 0 8px;
}
.login_box {
  margin-top: 5px;
}
.ClearBoth {
  clear: both;
}
.Pad {
  padding-left: 10px;
  padding-right: 10px;
}
#Centralizer {
  width: 820px;
  margin: 10px auto 0;
  position: relative;
}
#TopMenu {
  width: 100%;
  color: #666;
}
#TopMenu a {
  color: #009a93;
}
#TopMenu td {
  border-top: 3px solid #009a93;
  vertical-align: top;
  padding: 0;
  text-align: left;
}
#TopMenu td.HoverColor:hover {
  border-top: 3px solid black;
}
#TopMenu td:hover a {
  color: black;
}
td#TopMenuLogo {
    padding: 8px 20px;
    width: 210px;
}
.Cols2 {
  background-color: #89ccca;
}
td#TopMenuSep {
    width: 20px;
}
#TopMenu td.Logout {
    text-align: right;
    width: 5em;
}
#TopMenu input[type='submit'] {
  background-color: #009a93;
  color: white;
  border: 0px;
  width: 5em;
}
#TopMenu input[type='submit']:hover {
    background-color: black;
}
#Footer {
  padding-top: 8px;
  border-top:  1px solid #ddd;
  text-align: center;
  clear: both;
}
