body {
  /* http://www.ms-studio.com/articles.html */
  font-family: Ubuntu, Helvetica, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  margin: 0px;
}
html {
  background-color: #fefefe; /* override deform/style.css */
}
img {
  border: 0px;
}
a {text-decoration: none;}
a:link    {color: #009A93;}
a:visited {color: #009A93;}
a:hover   {color: black;}
a:active {background-color: #eee;}
ul {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}
table {
  border-collapse: collapse;
}
.readable {
  font-size: 18px;
}
.readable h1 {
  margin: 0;
  padding: .4em 0;
  background-color: #fefefe; /* override deform/style.css */
}
