body {
  /* http://www.ms-studio.com/articles.html */
  font-family: Ubuntu, Helvetica, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  margin: 0px;
}
html {
  background-color: #fefefe; /* override deform/style.css */
}
img {
  border: 0px;
}
/* Link pattern */
a {text-decoration: none;}
a:link    {color: #009A93;}
a:visited {color: #009A93;}
a:hover   {color: black;}
a:active {background-color: #eee;}
ul {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}
table {
  border-collapse: collapse;
}
.readable {
  font-size: 18px;
}
.readable h1 {
  margin: 0;
  padding: .4em 0;
  background-color: #fefefe; /* override deform/style.css */
}

/* Navigation buttons */
.navigationButton {
  color: white;
  background: url('../img/icons-root/buttonBackground.png') repeat-x bottom;
  padding: 3px 10px 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 0 3px;
  cursor: pointer;
  border: none;
}
.navigationButton a {
  color: white;
}
.navigationButtonHover {
  background: url('../img/icons-root/buttonBackgroundHover.png') repeat-x bottom;
}
.navigationButton img {
  vertical-align: middle;
  margin: 0 5px;
}

/*Formatting of our jquery Dialogs*/
.ui-dialog {
    border: 10px solid #5b5b5f !important;
}
.ui-widget, .ui-widget button {
    font-family: Ubuntu,Helvetica,'Trebuchet MS',sans-serif;
    font-size: 1em;  /*TODO: vorher wars auf 0.8em*/
}
/*Formatting of titlebar*/
.ui-dialog-title {
    font-size: 16px;
}
.ui-dialog-titlebar {
    border: 0;
}
.ui-dialog .ui-dialog-titlebar {
    padding: 0.4em 0.8em; /*TODO: somente em relacao com font-size 1em necessario*/
}
a.ui-dialog-titlebar-close {
    top: 1.0em !important;
}
.ui-widget-header {
    background: #dadada;
}
/*Formatting of center area*/
.ui-corner-all {
    background: #dadada;
}
/*Formatting of center area with deform elements*/
div.ui-dialog-content .deform li {
    margin: 0;
    padding: 0;
}
div.ui-dialog-content .deform {
    background: #dadada;
}
/*Formatting of button area at the bottom*/
.ui-helper-clearfix {
    background: #dadada;
}
.ui-dialog .ui-dialog-buttonpane {
    border-width: 0;
    margin: 0;
    padding: 0.3em 1em 0.5em 1em;
}
/*Formatting of buttons*/
.ui-button {margin-right: 2em !important}
.ui-button-text {padding: 0.1em 1em 0.1em 2.1em !important}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: left;
}
.ui-widget-content .ui-state-default {
    background: url('../img/icons-dialogs/buttonBackground.png') repeat-x scroll;
    border: 1px solid #959595;
}
/*Button Images*/
.ui-icon-custom-check {
    background-image: url('../img/icons-dialogs/CheckmarkGreen.png') !important;
    margin-top: -6px !important;
}


