html, body {
  height: 100%;
  background-color: white;
}
#Centralizer {
  width: 820px;
  margin: 10px auto 0;
  position: relative;
  border-top: 3px solid #009a93; /* 89ccca; */
}
#Editor {
  background-color: #89ccca;
}
#LeftCol {
  width: 250px;
  float: left;
  background-color: #89ccca;
  /*
  border-top-right-radius       : 6px;
  -moz-border-radius-topright   : 6px;
  -webkit-border-radius-topright: 6px;
  border-bottom-right-radius       : 6px;
  -moz-border-radius-bottomright   : 6px;
  -webkit-border-radius-bottomright: 6px;
  */
}
#AppLogo {
  display: block;
  margin: 8px;
  margin-bottom: 15px;
}
#RightCol {
  float: right;
  padding-left: 20px;
  width: 550px;
  left: 270px;
  min-height: 300px;
  background-color: white;
}
#logout {
  text-align: right;
  height: 65px;
}
.ClearBoth {
  clear: both;
}
.Pad {
  padding-left: 10px;
  padding-right: 10px;
}
#footer {
  padding-top: 8px;
  border-top:  1px solid #ddd;
  text-align: center;
}
