#formFieldsList {
    padding: 10px;
    background-color: white;
}

.fieldEditMode {
    background: #B2B2B2;
}

.fieldBox {
    position: relative;
}

div.fieldExample {
    float: left;
    padding-top: 4px;
}

div.fieldExample input {
    width: 170px;
    background-color: #F2F2F2;
    border: none;
}

#textareafield {
    background-color: #F2F2F2;
}

.fieldHover {
    background-color: #B2B2B2;
}

.fieldHover input {
    background-color: #F2F2F2;
    border: none;
}

div.fieldLabel {
    float:left;
    padding: 7px;
    width: 50%;
    text-align: right;
}

#form_description {
    background-color: #F2F2F2;
    width: 140px;
}

.fieldLabel input {
    border: 0;
    background-color: #F2F2F2;
    text-align: right;
}

.fieldLabelHover {
    background-color: #D7EAD9;
}

#formButtons {
    background: white;
}

.buttons img {
    padding: 0 2px;
}

.fieldEditForm {
    padding: 3px 3px 9px 3px;
    background-color: #B2B2B2;
}

.tableFieldEditForm {
    width: 540px;
}

.tdFieldEditFormLeft {
    width: 272px;
    float: left;
    text-align: right;
}

.tdFieldEditFormRight {
    width: 254px;
    float: right;
    text-align: left;
}

.formField {
    height: 15px;
}

.formField input {
    float: left;
}

.toolBar-fixed {
    position: fixed;
    top: 0px;
}

.toolBar-inline {
    position: inline;
}

.state-highlight {
    height: 1.5em;
    line-height: 1.2em;
}

.fieldsList-position {
    position: fixed;
}

.fieldsList-fixed {
    position: fixed;
}

#icons {
    padding-top: 20px;
}

.fieldSortableHolder {
    border: 1px dashed black;
    background-color: #EBF5EC;
}

.fieldEditMode {
    background: #B2B2B2;
    border-bottom: 1px solid #CCCCCC;
}

.fieldEditMode #editButton {
    height: 100%;
}

.editButton {
    background: url('/imagens/menuEdit.png') no-repeat;
    width: 15px;
}

.editButtonHover {
    background: url('/imagens/menuEditHover.png') no-repeat;
}

.editButtonActive {
    background: url('/imagens/menuEditActive.png') no-repeat;
}


.deleteButton {
    background: url('/imagens/menuDelete.png') no-repeat;
    width: 15px;
}

.deleteButtonHover {
    background: url('/imagens/menuDeleteHover.png') no-repeat;
}

.deleteButtonActive {
    background: url('/imagens/menuDeleteActive.png') no-repeat;
}

.moveButton {
    background: url('/imagens/menuMove.png') no-repeat;
    width: 15px;
}

.moveButtonHover {
    background: url('/imagens/menuMoveHover.png') no-repeat;
}

.moveButtonActive {
    background: url('/imagens/menuMoveActive.png') no-repeat;
}

.fieldButtonsHover {
    display: inline!important;
}

.fieldButtonsEditMode {
    display: inline!important;
}

#textareafield {
    background-color: #F2F2F2;
}

#menuIcons a {
    display: table;
    float: left;
    background-color: #f2f2f2;
    width: 100px;
    text-align: left;
    padding-left: 2px;
}

#menuIcons a:hover {
    background-color: #808080;
    color: white;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 300px;
    height: 100%;
    color: white;
}

#sidebar-left {
    width: 95%;
    height: 100%;
    background-color: #808080;
    float: left;
}

#sidebar-right {
    background-color: white;
    float: left;
    margin-top: 50px;
}

#sidebarForm {
    height: 210px;
    margin-top: 30px;
}

#sidebar input {
    width: 140px;
    background-color: #F2F2F2;
    border: none;
}

#sidebar input[type=submit] {
    color: #black;
    width: 50px;
}

#sidebar input[type=select] {
    width: 50px;
}

#sidebar label {
    width: 110px;
    text-align: right;
    float: left;
    margin-bottom: 3px;
}

#sidebar select {
    text-align: right;
    float: left;
}

.sidebarTitle {
    width: 285px;
    font-size: 10pt;
    display: table;
    border-top: 2px solid white;
    padding-left: 2px;
}

#formFieldsList {
    padding: 10px;
    background-color: white;
}

#icons {
    padding-top: 20px;
}

#menuIcons a {
    display: table;
    float: left;
    background-color: #f2f2f2;
    width: 100px;
    text-align: left;
    padding-left: 2px;
}

#menuIcons a:hover {
    background-color: #808080;
    color: white;
}

.fieldSortableHolder {
    border: 1px dashed black;
    background-color: #EBF5EC;
}

.buttons {
    display: none;
}

.buttons img {
    padding: 0 2px;
}


