body {
	font-family: 'Trebuchet MS';
	font-size: 10pt;
	text-align: left;
	width: 800px;
	margin: 0;
}


ul {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px
}


#container {
	text-align: left;
	width: 720px;
	position: relative;
	margin: 87 0 0 80 px;
}


#header {
	height: 149px;
	width: 720px;
}

#header_left {
	width: 560px;
	height: 149px;
	text-align: left;
	float: left;
	background: url(../imagens/form.png) top left no-repeat;
}


div.Horizontal div {
	width: 93px;
	float: left;
	/*background: url(../imagens/menu_inativo.png) top left no-repeat;
	display: block;
	background-color: white;
	border-top: 2px solid black;*/
}


#header_links {
	display: table;
	float: left;
}


#header_links a {
	display: block;
	background-color: white;
	color: #808080;
	border-top: 2px solid black;	
}

#header_links a:active {
	background-color: white;
	color: #00A75D;
	border-top: 1px solid #00A75D;
}


#header_links a:hover {
	background-color: white;
	color: #00A75D;
	border-top: 2px solid #00A75D;
}


div.Horizontal2 div {
	width: 560px;
	float: left;
	/*background: url(../imagens/novoform.png) top left no-repeat;
	display: block;
	background-color: white;
	border-top: 2px solid black;*/
}


#top_link {
	display: table;
	float: left;
	display: block;
	background-color: white;
	color: #808080;
	border-top: 2px solid black;
}


/*#top_link a {
	display: block;
	background-color: white;
	color: #808080;
	border-top: 2px solid black;	
}

#top_link a:active {
	background-color: white;
	color: #00A75D;
	border-top: 1px solid #00A75D
}


#top_link a:hover {
	background-color: white;
	color: #00A75D;
	border-top: 2px solid #00A75D;
}*/


a {text-decoration: none;}
a:link {color: #808080;}
a:visited {color: #808080;}
a:active {color: #000000;}
a:hover {color: #000000;}




/* -------formulario de login-------- */

#header_right  {
	width: 149px;
	margin-left: 11px;
	float: right;
	position: relative;
	/*background: url(../imagens/menu_login.png) top right no-repeat;*/
	display: block;
	background-color: white;
	border-top: 2px solid black;
}


#login {
	text-align: right;
	display: table;
	float: right;
	display: block;
	background-color: white;
	color: #808080;
	padding-bottom: 2px;
}


#esqueceu {
	text-align: right;
	padding-top: 10px;
}


#labeluser {
	text-align: right;
	float: left;
	margin-left: 4px;
}


#labelpass {
	text-align: right;
	float: left;
	margin-left: 4px;
}


#submit {
	float: right;
	/*width: 40px;*/
	height: 18px;
	margin-top: 2px;
	color: white;
	background: transparent;
	background-color: #808080;
	border: 1px solid #808080;
}


#user {
	/*float: right;*/
	width: 149px;
	height: 16px;
	margin-bottom: 7px;
	border: 1px solid white;
	background: transparent;
	background-color: #F2F2F2;
}


#pass {
	/*float: right;*/
	width: 149px;
	height: 16px;
	border: 1px solid white;
	background: transparent;
	background-color: #F2F2F2;
}


form span { position:relative }
label { position:absolute; top:0; left:0}


/* -------fim do formulario de login-------- */





/* -------cadastro-------- */


#labeluser2 {
	color: #808080;
	text-align: right;
	float: left;
	margin-left: 4px;
}


#labelname {
	color: #808080;
	text-align: right;
	float: left;
	margin-left: 4px;
}

#labelpass2 {
	color: #808080;
	text-align: right;
	float: left;
	margin-left: 4px;
}


#labelemail {
	color: #808080;
	text-align: right;
	float: left;
	margin-left: 4px;
}



#submit2 {
	float: right;
	/*width: 40px;*/
	height: 18px;
	color: white;
	background: transparent;
	background-color: #808080;
	border: 1px solid #808080;

}


#user2 {
	/*float: right;*/
	width: 560px;
	height: 16px;
	margin-bottom: 4px;
	border: 1px solid #CCE5CE;
	background: transparent;
	background-color: #CCE5CE;
}


#name {
	/*float: right;*/
	width: 560px;
	height: 16px;
	margin-bottom: 4px;
	border: 1px solid #F2F2F2;
	background: transparent;
	background-color: #F2F2F2;
}


#pass2 {
	/*float: right;*/
	width: 560px;
	height: 16px;
	margin-bottom: 4px;
	border: 1px solid #CCE5CE;
	background: transparent;
	background-color: #CCE5CE;
}

#email {
	/*float: right;*/
	width: 560px;
	height: 16px;
	margin-bottom: 4px;
	border: 1px solid #CCE5CE;
	background: transparent;
	background-color: #CCE5CE;
}


form span { position:relative }
label { position:absolute; top:0; left:0}


/* -------fim do cadastro-------- */