body {
	/* font-family: 'Trebuchet MS';
    font-size: 10pt;
    http://www.ms-studio.com/articles.html
    */
	font-family: Ubuntu, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

a {text-decoration: none;}
a:link    {color: #888;}
a:visited {color: #888;}
a:hover   {color: black;}
a:active {background-color: #eee;}

ul {
	list-style-type: none;
	margin-left: 0px;
	padding-left: 0px;
}

#container {
    width: 720px;
    position: relative;
    margin: 30px auto 0;
}

#header {
    height: 149px;
    width: 720px;
}

#header_left {
    width: 560px;
    height: 149px;
    text-align: left;
    float: left;
}

div.Horizontal div {
	width: 140px;
    float: left;
	/*background: url(../imagens/menu_inativo.png) top left no-repeat;
	display: block;
	background-color: white;
	border-top: 2px solid black;*/
}

.header_links a {
	display: block;
	color: #808080;
	border-top: 2px solid black;    
}

.header_links a:hover {
	color: #00A75D;
	border-top: 2px solid #00A75D;
}

.header_links a:active {
	background-color: #eee;
}

div.Horizontal2 div {
	width: 560px;
	float: left;
	/*background: url(../imagens/novoform.png) top left no-repeat;
	display: block;
	background-color: white;
	border-top: 2px solid black;*/
}


.readable {
  font-size: 18px;
}
.readable h1 {
  margin-top: 8px;
}


/* -------formulario de login-------- */

#header_right  {
	width: 149px;
	margin-left: 11px;
	float: right;
	position: relative;
	border-top: 2px solid black;
}

#login h1 {
	color: #808080;
    font-size: 10pt;
    font-weight: normal;
    padding: 0 0 6px 0;
    margin: 0;
}

#login form label {
	text-align: right;
	float: left;
	margin-left: 4px;
	position: absolute;
	top: 0;
    color: #808080;
}

#login form input[type=text], #login form input[type=password] {
	width: 149px;
	height: 16px;
	margin-bottom: 7px;
	/*border: 1px solid white;
	background-color: #F2F2F2;*/
}

#submit {
    margin: 4px 0 8px;
    /*background-color: #808080;
    color: white;*/
}

#esqueceu {
	text-align: right;
}

/* -------fim do formulario de login-------- */


/* ------- formish "table" forms -------- */
.formish-form .field {
  margin-bottom: 10px;
  padding: 2px 0px 2px 10px;
}
.formish-form .field label {
  display: inline-block;
  float: left;
  text-align: right;
  min-width: 120px;
  margin-right: 5px;
}
.formish-form span.error {
  display:inline;
  width: 375px;
  color: #b00;
}
.formish-form .inputs {
  width: 375px;
  display: inline;
}
.formish-form .inputs div {
  display: block;
}
.formish-form .actions input {
  margin-left: 135px;
}
/* ------- end formish "table" forms -------- */


#footer {
  margin-top: 16px;
  padding-top: 8px;
  border-top:  1px solid #ddd;
  text-align: center;
  clear: both;
}
