body {
	font-family: 'Trebuchet MS';
    font-size: 10pt;
    text-align: left;
    width: 1024px;
    margin-left: 90px;
}

ul {
	list-style-type: none;
	margin-left: 0px;
	padding-left: 0px;
}

input {
    background-color: #CCE5CE;
    border: 1px solid white;
}

textarea {
    background-color: #CCE5CE;
    border: 1px solid white;
}


#container {
    width: 720px;
    position: relative;
    margin: 30px auto 0;
}

#container .input {
	height: 16px;
    border: 1px solid white;
    background: transparent;
    background-color: #F2F2F2;
}

#header {
    height: 149px;
    width: 720px;
}

#header_left {
    width: 560px;
    height: 149px;
    text-align: left;
    float: left;
}


div.Horizontal div {
	width: 140px;
    float: left;
	/*background: url(../imagens/menu_inativo.png) top left no-repeat;
	display: block;
	background-color: white;
	border-top: 2px solid black;*/
}


.header_links a {
	display: block;
	color: #808080;
	border-top: 2px solid black;    
}

.header_links a:hover {
	color: #00A75D;
	border-top: 2px solid #00A75D;
}

.header_links a:active {
	background-color: #eee;
}

div.Horizontal2 div {
	width: 560px;
	float: left;
	/*background: url(../imagens/novoform.png) top left no-repeat;
	display: block;
	background-color: white;
	border-top: 2px solid black;*/
}


#top_link {
	display: table;
	float: left;
	display: block;
	background-color: white;
	color: #808080;
	border-top: 2px solid black;	
}

#top_link a:active {
	background-color: white;
	color: #00A75D;
	border-top: 1px solid #00A75D;
}


#top_link a:hover {
	background-color: white;
	color: #00A75D;
	border-top: 2px solid #00A75D;
}

.readable {
  font-size: 13pt;
}
.readable h1 {
  margin-top: 8px;
}


/* -------formulario de login-------- */

#header_right  {
	width: 149px;
	margin-left: 11px;
	float: right;
	position: relative;
	border-top: 2px solid black;
}

#login h1 {
	color: #808080;
    font-size: 10pt;
    font-weight: normal;
    padding: 0 0 2px 0;
    margin: 0;
}

#login form label {
	text-align: right;
	float: left;
	margin-left: 4px;
	position: absolute;
	top: 0;
    color: #808080;
}

#login form input[type=text], #login form input[type=password] {
	width: 149px;
	height: 16px;
	margin-bottom: 7px;
	border: 1px solid white;
	background-color: #F2F2F2;
}

#submit {
    margin: 4px 0 8px;
    background: transparent;
    background-color: #808080;
    color: white;
}

#esqueceu {
	text-align: right;
}

a {text-decoration: none;}
a:link {color: #808080;}
a:visited {color: #808080;}
a:active {color: #000000;}
a:hover {color: #000000;}

/* -------fim do formulario de login-------- */


/* -------abas-------- */

#bottom_links {
	display: table;
	float: left;
	border: 1px solid white;
}

#bottom_links a {
	display: block;
	background-color: #808080;
	color: white;
	border-top: 2px solid #808080;
	padding-left: 2px;	
}

#bottom_links a:active {
	background-color: white;
	color: #00A75D;
	border-top: 1px solid #00A75D;
}

#bottom_links a:hover {
	background-color: white;
	color: #00A75D;
	border-top: 2px solid #00A75D;
}

#conteudo {
	font-size: 8pt;
	float: left;
}


/* -------fim das abas-------- */


#footer {
  margin-top: 16px;
  padding-top: 8px;
  border-top:  1px solid #ddd;
  text-align: center;
}
